<% include _header %>

<h1>Edit post</h1>

<form action="/posts/edit/<%= post.title %>" method="POST">
  <div class="form-group">
    <input class="form-control" type="text" name="title" placeholder="Title"
      value="<%= post.title %>" required autofocus>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="description" placeholder="post body"
      required><%= post.description %></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="content" placeholder="post body"
      required><%= post.content %></textarea>
  </div>
  <div class="form-group">
    <input class="btn btn-primary btn-block" type="submit" value="Edit post">
  </div>
</form>


<% include _footer %>
